
/* HEADER */

.banner{
    margin-bottom: 5vh;
    background: #b5a6ae;
    height: 185px;
}

.menu a{
    
    display: inline;
    margin-right: 20px;
    text-align: center;
    padding: 15px;
    float: right;
    margin-top: 145px;
    font-size: 2.5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    text-decoration: none;
}

a:hover{

  color:#b5a6ae;
  background-color: whitesmoke;
  clip-path: circle(65%);
}

.logo{
    float: left;
}

h2 {
  background-color: #d6c5ce;
}

/* SIDEBAR */

  aside {
    width: 50vh;
    height: 80vh;
    border: 0.2vh solid #b5a6ae;
    background-color: #b5a6ae;
  }

  aside h2 {
    font-size: 4vh;
    margin: 2vh;
    color: white;
  }

  aside li {
    font-size: 2.5vh;
    font-style: italic;
    list-style: none;
    line-height: 5vh;
   
  }

  aside a {
    text-decoration: none;
    color: white;
    padding: 1.5vh;
  }

  aside a:hover {
    background-color: whitesmoke;
    color: #b5a6ae;
  }

  aside, article {
    display: inline-block;
  }

/* ARTICLE */

article {
  width: 80vh;
  padding: 5vh;
  font-size: 2.5vh;
  color: grey;
}

.below-content {
  margin: auto;
  border: 0.2vh solid grey;
}

.below-content li {
  list-style: none;
  text-align: center;
}

.below-content p {
  text-align: center;
}
 /* FOOTER  */

 .footer {
  display: block;
  height:100%;
  width: 100%;
  background-color: #b5a6ae;
  }

  .nom-asbl {
  display: block;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: white;
  }

  .img {
  text-align: center;
  color: white;
  }

  .asbl {
    display: block;
    text-align: center;
    color: white;
    font-size: 18px;
    font-style: italic;
    font-family: 'Vollkorn','One Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  }

  .bordure {
    text-align: center;
    border-bottom: 3px solid white;
}